@using iitu_project_hh.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}


<div class="row" style="margin-top: 50px">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
            <div class="row d-flex align-items-center">
                <h4 class="col-md-11">Вход в HH IITU</h4>
                <img class="col-md-1" src="https://upload.wikimedia.org/wikipedia/commons/7/79/HeadHunter_logo.png" width="50px" />
            </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" }) <br />
                    
                    <div class="col-md-10 text-center" >
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" }) <br />
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit"  value="Выполнить вход" class="btn btn-primary" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Регистрация нового пользователя", "Register")
                </p>
                @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                    <p>
                        @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-12" style="margin-top: 50px">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    const img = document.createElement("img");
    const googleBtn = document.getElementById("Google");
    img.src = "https://www.freepnglogos.com/uploads/new-google-logo-transparent--14.png"
    googleBtn.innerHTML = "";
    img.style.width = "50px";
    googleBtn.appendChild(img);
</script>